*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  background:black;
  color:white;
  font-family: outfit;

}

.page-wrapper {
  transform: scale(0.7);          
  transform-origin: top center;   
  width: 100%;
  overflow-x: hidden;
}
